@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body,p,a {
    font-family: 'Work Sans', sans-serif;
    color: #FBE58C;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.15),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
body{
    display: contents;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    color: #F7CA18;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.15),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
#index{

}


nav{
    display: flex;
    position: fixed;
    z-index: 5;
    top: 0;
    margin: 25px;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    position: relative;
flex-direction: column;
    height: fit-content;
    background-color:#35363A;
    padding: 0;
margin: 0;
    border-radius: 2px;
}

nav li{
padding: 0 20px;
list-style: none;
    height: 60px;
}

.active {
    background-color: #F7CA18;
    animation: 3s;
    transition: 0.3s;
}
.active:after {
    border-bottom: unset !important;
    transition: 0.3s;
}

nav li:hover {
    background-color: #FBE58C;
    animation: 3s;
    transition: 0.3s;
}
nav li:hover:after {
    border-bottom: unset !important;
    transition: 0.3s;
}

nav li:after {
    border-bottom: 2px  solid #F7CA18;
    content: '';
    display: block;
    margin: auto;
    width: 90%;
}

nav li:last-child:after {
    border-bottom: unset !important;
}



nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
   width: 100%;
    height: 100%;

}


#hero .filler {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: rgb(50, 50, 50);
    background: linear-gradient(180deg, rgba(50, 50, 50, 0.8) 0%, rgba(251, 251, 251, 1) 50%);
}
#hero{
height: 105vh;
    background: url("../css/test.jpg");
    background-size: cover;
    position: relative;
}

#hero div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#hero p{
    margin-left: 50px;
    font-size: 3rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

#hero h1{
    font-size: 4rem;
    margin-bottom: -30px;
    margin-right: 50px;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

#Contact{

}

#About{
    padding: 5vh 0;
    min-height: 105vh;
    background-color: #FBFBFB;
}

#About > div{
    text-align: left;
    padding: 0 0 0 12%;
}


#About h2{
    color: #F7CA18;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 2rem;
}

#About h2:after {
    border-bottom: 3px  solid #FFFFFF;
    content: '';
    display: flex;
    padding-top: 10px;
    position: absolute;
    margin: auto;
    width: 10%;
}
#About p, #Resume p{
    text-align: left;
    font-size: 1.1rem;
    color: white;
}

#Resume .filler {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: rgb(50, 50, 50);
    background: linear-gradient(180deg, rgba(50, 50, 50, 0.8) 0%, rgba(251, 251, 251, 1) 50%);
}

#Resume{
    min-height: 105vh;
    padding: 5vh 0;
    background: rgb(251,251,251);
    background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(253,218,126,1) 7%);
}

#Resume h3{
    padding: 1vh 0;
    color: white;
}

#Resume > div{
    text-align: left;
    padding: 0 0 0 12%;
}

#Resume li{
    color: white;
    text-decoration: none;
    list-style: none;
}



#Resume .col{
    max-width: 50%;
}

#Portfolio{
    height: 100vh;
    padding: 5vh 0 5vh 12%;
    background: rgb(253,218,126);
    background: linear-gradient(180deg, rgba(253,218,126,1) 0%, rgba(255,185,0,1) 7%);
}
#Portfolio .row{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 5vh;
}

#Portfolio .col{
    display: flex;
    position: relative;
}
#Portfolio .col div{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-content: stretch;
    flex-direction: column;
    display: none;
    background: #ffffff80;
}


#Portfolio .col div div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: min-content;
    position: static;
}
#Portfolio .col div p{
    margin: 12px 24px;
    font-size: 1rem;
    font-weight: bolder;
}


#Portfolio img{
    width: 100%;
    height: auto;
    max-width: 25vw;
}


#Portfolio .col:hover div{
    z-index: 2;
    display: flex !important;
    padding-right: 7px;
}


#contact{
    background-color: #fff;
    background-size: cover;
    background-position-y: -357px;
    background-position-x: center;
    color: black;
}

#contact{
    display: flex;
    flex-direction: column;
}



#contact div{
    display: flex;
    flex-direction: row-reverse;
    width: 80vw;
    margin-left: 15vw;
    gap: 4vw;
    justify-content: end;
    text-align: right;
}
#contact img{
    height: auto;
    width: 100%;
    padding-bottom: 5vh;
}

#contact section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.resume-item{

}

.resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #F7CA18;
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #FBE58C;
    position: relative;
    height: autofill;
}

.row{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    gap: 50px;
    margin: 0;
}

.col{
}

@media only screen and (max-width: 680px) {
    #navbar {
        /*Zorg ervoor dat je de navigatiebalk kan opmaken*/
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: #35363A;
        /* padding: 20px; */
        margin: 0;
        color: white;
        box-shadow: 2px 2px 2px #35363A80
    }
    #navbar svg{
        color: white;
        padding: 2px 0;
    }
    #navbar ul{
        display: flex;
        align-items: center;
        width: 100%;
    }
    nav button img{
        width: 15px;
        padding: 50px;

    }
    nav button{
        display: block;
        background-color: #ffffff01;
        border:none;
        border-left: 3px solid #F7CA18;;
        height: auto;
    }
    nav li{
        width: 100vw;
    }
    nav a{
        width: 100;
    }
    nav div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav  div h1{
        margin-left: 20px;
    }

    nav ul{
        display: none;
    }

    textarea{
        max-width: 100vw;
    }

    iframe{
        max-width: 100vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 680px) {
    nav{
        display: flex;
        height: 100vh;
        position: fixed;
        z-index: 5;
        top: 0;
        margin: 25px;
        justify-content: center;
        align-items: center;
    }
    nav div{
        display: none;
    }

    nav ul{
        display: flex;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
